[submodule "components/applications/apps-sf2000/source/RetroArch"]
	path = components/applications/apps-sf2000/source/RetroArch
	url = https://git.maschath.de/ignatz/RetroArch.git
[submodule "components/applications/apps-sf2000/source/cores/tgbdual-libretro"]
	path = components/applications/apps-sf2000/source/cores/tgbdual-libretro
	url = https://git.maschath.de/ignatz/tgbdual-libretro.git
[submodule "components/kernel/source/freertos"]
	path = components/kernel/source/freertos
	url = https://github.com/Data-Frog-Central/HC-RTOS-FreeRTOS-Kernel
