config CONFIG_DVP_RN6752V1
	bool "RN6752V1"
	default n
	
config CONFIG_DVP_RN6752
	bool "RN6752"
	default n	

config CONFIG_DVP_BF3A03
	bool "bf3a03"
	default n

config CONFIG_DVP_GC0328
	bool "gc0328"
	default n		