menuconfig BR2_PACKAGE_APPS_PHOBOS
	bool "phobos"
	select BR2_PACKAGE_PREBUILTS_LIBGE
	select BR2_PACKAGE_LIBRETRO_COMMON
	select BR2_PACKAGE_ARGENT_LOADER
	#select BR2_PACKAGE_LIBLVGL

if BR2_PACKAGE_APPS_PHOBOS
source "source/Kconfig"
endif
